<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Service Layer-->
    <typeAlias alias="IDiscussionDetailsML" type="EasyWeddingMiddleLayer.Interface.IDiscussionDetailsML, EasyWeddingMiddleLayer" />
    <typeAlias alias="DiscussionDetailsML" type="EasyWeddingMiddleLayer.Implementation.DiscussionDetailsML, EasyWeddingMiddleLayer" />
    <!-- Data access Layer -->
    <typeAlias alias="IDiscussionDetailsDA" type="EasyWeddingDataAccess.Interface.IDiscussionDetailsDA, EasyWeddingDataAccess" />
    <typeAlias alias="DiscussionDetailsDA" type="EasyWeddingDataAccess.Implementation.DiscussionDetailsDA, EasyWeddingDataAccess" />    
  </typeAliases>
  <container>
    <register type="IDiscussionDetailsML" mapTo="DiscussionDetailsML" />
    <register type="IDiscussionDetailsDA" mapTo="DiscussionDetailsDA" />    
  </container>
</unity>